.table table:nth-child(odd) {
    background-color: #f9f9f9; /* Cor para linhas ímpares */
}

.background-gray {
    background-color: #F582A2;
    border: white solid 1px;
    font-weight: 500;
    padding: 10px;
    border-radius: 0.5rem;

}