.custom-table {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-container {
    margin-top: 1%;
    max-height: 77vh;    /* Tamanho fixo para o corpo da tabela */
    display: block;       /* Garante que a rolagem funcione corretamente */
    border-radius: 8px;   /* Aplica o border-radius ao contêiner da tabela */
    border: 1px solid #e5e7eb; /* Adiciona a borda ao contêiner */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra na tabela */
    overflow: auto;
}

.custom-table-header {
    background-color: #f55381;
    color: #ffffff;
    position: sticky;     /* Torna o cabeçalho fixo */
    top: 0;               /* Fixa no topo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra no cabeçalho */
}

.custom-table-header-cell {
    padding: 1rem 1.5rem;
    text-align: left;
    font-weight: 600;
}

.custom-table-row-even {
    background-color: #ffffff;
}

.custom-table-row-odd {
    background-color: #f9fafb;
}

.custom-table-cell {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #d1d5db;
    color: #374151;
}

.custom-table-cell:hover {
    background-color: #f3f4f6;
}
